.css_id_curso_label { }
.css_id_curso_line {text-align:left;}
.css_id_curso_obj {text-align:left;}
.css_id_instructor_label { }
.css_id_instructor_line {text-align:left;}
.css_id_instructor_obj {text-align:left;}
