.css_id_area_label { }
.css_id_area_line {text-align:left;}
.css_id_area_obj {text-align:left;}
.css_nombre_curso_label { }
.css_nombre_curso_line { }
.css_nombre_curso_obj { }
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_intensidad_horas_label { }
.css_intensidad_horas_line {text-align:left;}
.css_intensidad_horas_obj {text-align:left;}
.css_sc_field_0_label { }
.css_sc_field_0_line {text-align:left;}
.css_sc_field_0_obj {text-align:left;}
.css_id_nivel_label { }
.css_id_nivel_line {text-align:left;}
.css_id_nivel_obj {text-align:left;}
.css_cupo_maximo_label { }
.css_cupo_maximo_line {text-align:left;}
.css_cupo_maximo_obj {text-align:left;}
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_fecha_inicio_label { }
.css_fecha_inicio_line { }
.css_fecha_inicio_obj { }
.css_fecha_fin_label { }
.css_fecha_fin_line { }
.css_fecha_fin_obj { }
.css_id_modalidad_label { }
.css_id_modalidad_line {text-align:left;}
.css_id_modalidad_obj {text-align:left;}
.css_created_at_label { }
.css_created_at_line { }
.css_created_at_obj { }
.css_horario_label { }
.css_horario_line { }
.css_horario_obj { }
