.css_nombre_label { }
.css_nombre_line { }
.css_nombre_obj { }
.css_apellido_label { }
.css_apellido_line { }
.css_apellido_obj { }
.css_email_label { }
.css_email_line { }
.css_email_obj { }
.css_telefono_label { }
.css_telefono_line { }
.css_telefono_obj { }
.css_sc_field_0_label { }
.css_sc_field_0_line {text-align:left;}
.css_sc_field_0_obj {text-align:left;}
.css_titulo_academico_label { }
.css_titulo_academico_line { }
.css_titulo_academico_obj { }
.css_activo_label { }
.css_activo_line { }
.css_activo_obj { }
.css_fecha_contratacion_label { }
.css_fecha_contratacion_line { }
.css_fecha_contratacion_obj { }
.css_id_tipo_contrato_label { }
.css_id_tipo_contrato_line {text-align:left;}
.css_id_tipo_contrato_obj {text-align:left;}
.css_id_especialidad_label { }
.css_id_especialidad_line { }
.css_id_especialidad_obj { }
.css_numero_documento_label { }
.css_numero_documento_line { }
.css_numero_documento_obj { }
